# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/


# Temporary files created by R markdown
*.utf8.md
*.knit.md

# RStudio Connect folder
rsconnect/

/_www/
/.quarto/
/_www/
/_freeze/
/helper/
